NEXT_PUBLIC_URL=example
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=example
NEXT_PUBLIC_ADMIN_TOOLS=0
CONTENTFUL_DELIVERY_API_KEY=example
CONTENTFUL_SPACE_ID=example
PREVIEW_SECRET=example
REVALIDATE_SECRET=example
NEXT_SHARP_PATH=/example
RESEND_API_KEY=
RESEND_AUDIENCE_ID=