.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: oklch(0 0 0 / 40%);
}

.popup {
    width: 60%;
}

@media (max-width: 768px) {
    .popup {
        width: 90%;
    }
}

.trigger {
    position: relative;
    width: 100%;
    cursor: zoom-in;
}

.popup,
.trigger {
    z-index: 100000;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 8px;
}
