@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@theme inline {
    --font-sans: var(--font-geist-sans);
    --color-black: #2e2d29;
    --color-beige-50: #faf7ef;
    --color-beige-100: #ece8df;
    --color-beige-200: #dfd8c9;
    --color-beige-300: #cabda7;
    --color-beige-400: #b49f83;
    --color-beige-500: #a4896b;
    --color-beige-600: #97795f;
    --color-beige-700: #7e6350;
    --color-beige-800: #675145;
    --color-beige-900: #554339;
    --color-beige-950: #2d231d;

    --color-theme-bg: var(--bg);
    --color-theme-text: var(--text);
    --color-dimmed-text: var(--dimmed-text);
    --color-title-text: var(--title-text);
    --color-accent: var(--accent);
    --color-button-bg: var(--button-bg);
    --color-button-text: var(--button-text);
    --color-button-bg-hover: var(--button-bg-hover);
    --color-secondary-button-bg: var(--secondary-button-bg);
    --color-secondary-button-bg-hover: var(--secondary-button-bg-hover);
    --color-secondary-button-text: var(--secondary-button-text);
    --color-photo-bg: var(--photo-bg);
    --color-photo-bg-badge: var(--photo-bg-badge);
    --color-link-text: var(--link-text);
    --color-link-text-hover: var(--link-text-hover);
    --color-overlay-bg: var(--overlay-bg);
    --color-light: var(--light);
    --color-dark: var(--dark);

    --spacing-site-header: var(--site-header-height);
    --spacing-site-header-scrolled: var(--site-header-height-scrolled);

    --animate-carousel-item-slide-in: carousel-item-slide-in 0.4s ease-out;

    @keyframes carousel-item-slide-in {
        from {
            opacity: 0;
            transform: translateY(4px);
            filter: blur(4px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0px);
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    html {
        scroll-padding-top: var(--site-header-height);
        scroll-behavior: smooth;
    }
}

@layer base {
    :root {
        --site-header-height: 3.125rem;
        --site-header-height-scrolled: 3.125rem;
        --photo-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
        --photo-bg-badge: color-mix(in srgb, var(--color-black) 70%, transparent);
        --link-text: var(--color-beige-black);
        --link-text-hover: var(--color-black);
        --overlay-bg: color-mix(in srgb, var(--color-black) 80%, transparent);
        --light: var(--color-beige-50);
        --dark: var(--color-black);

        ::selection {
            background-color: var(--color-beige-100);
            color: var(--color-black);
        }
    }

    @media (min-width: 64rem) {
        :root {
            --site-header-height: 4.5rem;
            --site-header-height-scrolled: 3.125rem;
        }
    }

    [data-theme='light'] {
        --bg: var(--color-beige-50);
        --text: var(--color-black);
        --dimmed-text: var(--color-beige-800);
        --title-text: var(--color-black);
        --accent: var(--color-beige-100);
        --button-bg: var(--color-black);
        --button-text: var(--color-beige-50);
        --button-bg-hover: #000;
        --secondary-button-bg: var(--color-beige-100);
        --secondary-button-bg-hover: var(--color-beige-100);
        --secondary-button-text: var(--color-black);
    }

    [data-theme='dark'] {
        --bg: var(--color-black);
        --text: var(--color-beige-50);
        --dimmed-text: var(--color-beige-800);
        --title-text: var(--color-beige-50);
        --accent: var(--color-beige-950);
        --button-bg: #000;
        --button-text: var(--color-beige-50);
        --button-bg-hover: var(--color-beige-950);
        --secondary-button-bg: #000;
        --secondary-button-bg-hover: var(--color-beige-950);
        --secondary-button-text: var(--color-beige-50);
        --photo-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
        --photo-bg-badge: color-mix(in srgb, var(--color-black) 70%, transparent);
        --link-text: var(--color-beige-50);
        --link-text-hover: var(--color-beige-100);
        --overlay-bg: rgba(0, 0, 0, 0.8);
        --light: var(--color-black);
        --dark: var(--color-beige-50);

        ::selection {
            background-color: var(--color-beige-950);
            color: var(--color-beige-50);
        }
    }

    [data-theme='olive-green'] {
        --bg: #555f3d;
        --text: #f3f2ec;
        --dimmed-text: #c7c3b3;
        --accent: #4a5434;
        --button-bg: #4a5434;
        --button-bg-hover: #3e472c;
        --button-text: #f3f2ec;
        --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
        --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
        --link-text: #f3f2ec;
        --link-text-hover: #d6d2c1;
    }

    [data-theme='blue-grey'] {
        --bg: #4d5c69;
        --text: #f3f2ec;
        --dimmed-text: #cdd3d6;
        --accent: #3e4b56;
        --button-bg: #3e4b56;
        --button-bg-hover: #333e47;
        --button-text: #f3f2ec;
        --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
        --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
        --link-text: #f3f2ec;
        --link-text-hover: #d0d5d8;
    }

    [data-theme='amber-red'] {
        --bg: #9b3f27;
        --text: #f3f2ec;
        --dimmed-text: #e3d4c6;
        --accent: #7a301c;
        --button-bg: #7a301c;
        --button-bg-hover: #662816;
        --button-text: #f3f2ec;
        --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
        --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
        --link-text: #f3f2ec;
        --link-text-hover: #e3d4c6;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-black: #131414;
            --color-beige-50: #f5f6f6;
            --color-beige-100: #e4e7e9;
            --color-beige-200: #ccd3d5;
            --color-beige-300: #a9b3b7;
            --color-beige-400: #7e8d92;
            --color-beige-500: #637277;
            --color-beige-600: #556065;
            --color-beige-700: #495255;
            --color-beige-800: #40464a;
            --color-beige-900: #393d40;
            --color-beige-950: #1e2123;
            --photo-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
            --photo-bg-badge: color-mix(in srgb, var(--color-black) 70%, transparent);
            --link-text: var(--color-beige-50);
            --link-text-hover: var(--color-beige-100);
            --overlay-bg: color-mix(in srgb, var(--color-black) 90%, transparent);
            --light: var(--color-black);
            --dark: var(--color-black);
        }

        [data-theme='light'] {
            --bg: var(--color-beige-950);
            --text: var(--color-beige-50);
            --dimmed-text: var(--color-beige-300);
            --title-text: var(--color-beige-50);
            --accent: var(--color-black);
            --button-bg: var(--color-beige-950);
            --button-text: var(--color-beige-50);
            --button-bg: var(--color-beige-900);
            --secondary-button-bg: var(--color-beige-900);
            --secondary-button-bg-hover: var(--color-beige-900);
            --secondary-button-text: var(--color-beige-50);
        }

        [data-theme='dark'] {
            --bg: var(--color-beige-900);
            --text: var(--color-beige-100);
            --dimmed-text: var(--color-beige-300);
            --title-text: var(--color-beige-50);
            --accent: var(--color-beige-800);
            --button-bg: var(--color-beige-700);
            --button-text: var(--color-beige-50);
            --secondary-button-bg: var(--color-beige-800);
            --secondary-button-bg-hover: var(--color-beige-700);
            --secondary-button-text: var(--color-beige-100);
            --photo-bg: color-mix(in srgb, var(--color-black) 40%, transparent);
            --photo-bg-badge: color-mix(in srgb, var(--color-black) 70%, transparent);
            --link-text: var(--color-beige-200);
            --link-text-hover: var(--color-beige-50);
            --overlay-bg: color-mix(in srgb, var(--color-black) 90%, transparent);
            --light: var(--color-beige-100);
            --dark: var(--color-beige-950);
        }

        [data-theme='olive-green'] {
            --bg: #2f3523;
            --text: #ece9de;
            --dimmed-text: #b5b1a4;
            --accent: #444b2f;
            --button-bg: #444b2f;
            --button-bg-hover: #3a4128;
            --button-text: #ece9de;
            --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
            --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
            --link-text: #ece9de;
            --link-text-hover: #c7c3b3;
        }

        [data-theme='blue-grey'] {
            --bg: #2d363e;
            --text: #ece9de;
            --dimmed-text: #b8bec2;
            --accent: #3b4750;
            --button-bg: #3b4750;
            --button-bg-hover: #323c44;
            --button-text: #ece9de;
            --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
            --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
            --link-text: #ece9de;
            --link-text-hover: #cdd3d6;
        }

        [data-theme='amber-red'] {
            --bg: #4a1d12;
            --text: #f1ede6;
            --dimmed-text: #d3c4b6;
            --accent: #612516;
            --button-bg: #612516;
            --button-bg-hover: #531f12;
            --button-text: #f1ede6;
            --photo-bg: color-mix(in srgb, var(--bg) 40%, transparent);
            --photo-bg-badge: color-mix(in srgb, var(--bg) 70%, transparent);
            --link-text: #f1ede6;
            --link-text-hover: #d3c4b6;
        }
    }

    @media print {
        [data-theme] {
            --text: #000;
            --bg: #fff;
            --accent: #000;
            --title-text: #000;
            --link-text: #000;
            --link-text-hover: #000;
            --overlay-bg: #fff;
        }
    }
}

[data-layout-type='editorial'] {
    .content-section {
        @apply !px-0 2xl:!px-8;

        > div {
            @apply mt-24;
        }
        h2 {
            @apply !text-3xl capitalize lg:!text-5xl;
        }
        p {
            @apply max-w-4xl 2xl:max-w-5xl;
        }
    }
}
