@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes animate-entrance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    
    .animate-entrance {
        animation: animate-entrance .6s ease-in-out;
        animation-fill-mode: forwards;
    }

    .tap-transparent {
        -webkit-tap-highlight-color: transparent;
    }
}

@font-face {
    font-family: 'PPEiko';
    src: url('../../public/fonts/PPEiko-Medium.woff2') format('woff2'),
        url('../../public/fonts/PPEiko-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('../../public/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../../public/fonts/NeueMontreal-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 300;
}